.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 1vw;
}

.message input {
  border: 0;
  width: 40vw;
  height: 5vw;
}

.message button {
  height: 5vw;
  color: #fff;
  background-color: rgb(137, 107, 139);
}